@import '@/presentation/styles/index.scss';

.primary-textarea {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    &__label {
        padding-left: 8px;
        font-size: 16px;
        font-weight: 400;
        color: #000000;
    }
    &__input {
        width: 21.25rem;
        height: 16.25rem;
        border: 1px solid #0000006b;
        border-radius: 10px;
        padding: 10px;
        resize: none;
        font-size: 16px;
        font-weight: 400;
        color: #000000;
        &:focus {
            outline: none;
        }
    }
    &__error {
        font-size: 14px;
        font-weight: 400;
        color: #ff0000;
        padding-left: 8px;
    }
}
